* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App {
  width: 800px;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.post_btns {
  display: flex;
}
.post-enter {
  opacity: 0.5;
  transform: translateX(-150px);
}
.post-enter-active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-150px);
  opacity: 0;
  transition: all 500ms ease-in;
}
.pageWrp {
  margin: 30px;
  display: flex;
}
.page {
  margin-right: 15px;
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  border: 2px solid black;
  font-weight: bold;
}
.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.navbar__link {
  margin-left: 15px;
  text-decoration: none;
  color: teal;
}
